.navbar {
  /*background-color: #fff;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  height: 110px;
}

.navbar__brand {
  height: 80px;
  width: 160px;
  background-size: 160px;
}

.navbar__mainLogo {
  background-repeat: no-repeat;
  background-image: url("/images/doggarden_logo_180_90.png");
}

.navbar-nav > li {
  margin-left: 20px;
}

